.search-suggestions-container{
    border: 0.5px solid rgb(223, 220, 220);
    width: 85%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.suggestion{
    font-family: Roboto;
    font-size: 16px;
    margin-bottom: 2px;
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 0.2px solid gray; 
    text-align: start;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}